<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC 
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN" 
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
	
<hibernate-configuration>
	<session-factory>
		<!-- JDBC URL -->
		<property name="connection.url">jdbc:mysql://127.0.0.1:3306/hibernate</property>
		<!-- JDBC驱动程序 -->
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<!-- 数据库用户名 -->
		<property name="connection.username">root</property>
		<!-- 数据库密码 -->
		<property name="connection.password">root123</property>
		
		<!-- 使用本地事务 -->
		<property name="current_session_context_class">thread</property>
		
		<!--SQL方言  -->
		<property name="dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
		
		<!-- 自动更新数据库表结构 -->
		<property name="hbm2ddl.auto">update</property>
		
		<!--显示实际操作数据库时的SQL语句  -->
		<property name="show_sql">true</property>
		
		
        <!-- 配置需要让hibernate进行管理的实体类 -->  
        <mapping class="com.asynclife.entity.Category"/>  
        <mapping class="com.asynclife.entity.Product"/>  
	</session-factory>
</hibernate-configuration>