<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper 
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace 绑定本mapper中的操作到对应的Dao接口上 -->
<mapper namespace="com.clonegod.demo.dao.UserMapper">
    
    <select id="findUserByUsername" parameterType="string" resultType="User">
        select
            username, 
            gender
        from user 
        where
            username like concat('%', #{username}, '%')
    </select>
    
    <select id="getCount"  parameterType="string"  resultType="int">
        select count(*) from user
        where
            username like concat('%', #{username}, '%')
    </select>

    
</mapper> 