<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper 
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mybatis.sample2.dao.CommentMapper">

	<insert id="insertComment" parameterType="Comment" useGeneratedKeys="true" keyProperty="id">
		insert into comment (comment_text,post_id)
  		values (#{commentText},#{post.id})
	</insert>
  		
</mapper> 