<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper 
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mybatis.sample2.dao.PostTagMapper">

	<insert id="insertPostTag" parameterType="PostTag" useGeneratedKeys="true" keyProperty="id">
		insert into post_tag (post_id,tag_id)
  		values (#{post.id},#{tag.id})
	</insert>
  		
</mapper> 